<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><b> Title: </b><%= event.title %></h5>
                      <hr>
                      <p class="card-text"><b>Description: </b><%= event.description %></p>
                      <p class="card-text"><b>Location: </b><%= event.location %></p>
                      <!-- span.badge.badge-secondary -->
                      <span class="card-text"><b>Date: </b><%= event.date.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }) %></span><br>
                      <span class="card-text"><b>Created At: </b><%= (event.created_at)?event.created_at.toLocaleDateString('en-US',{year:'numeric',month:'2-digit',day:'2-digit',hour:'2-digit',minute:'2-digit'}): '' %></span>
                      <hr>
                      <% if((user) && user.id == event.user_id){ %>
                      <a href="<%= '/events/edit/'+ event.id %>" class="btn btn-primary">Edit </a>
                      <!-- <a href="<%= '/events/delete/'+ event.id %>" class="btn btn-danger">Delete</a> -->
                      <button class="btn btn-danger" onclick="deleteEvent()" id="DeleteBtn" data-id="<%= event.id %>">Delete</button>
                      <% }else{ %>
                        <p class="alert alert-info">This event not belong to you !!</p>
                        <% } %>
                    </div>
                  </div>
            </div>

        </div>
    </div>



    <%- include('../partials/footer') -%>
